.con {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 14px;
}

.btn1 {
    height: 30px;
    width: 150px;
}

.btn2 {
    height: 30px;
    width: 150px;
}

.btn3 {
    height: 30px;
    width: 150px;
}

